@charset "UTF-8";
/* Стилі для календаря */
#calendar {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  /* Стиль для заголовку календаря */
  /* Стилі для кнопок */
  /* Стилі для подій */
}
#calendar .fc-toolbar {
  background-color: #27282c;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
#calendar .fc-button {
  background-color: #007bff;
  color: white;
}
#calendar .fc-button:hover {
  background-color: #0056b3;
}
#calendar .fc-event {
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
#calendar .fc-event:hover {
  background-color: #218838;
}

.header {
  width: 100%;
  height: 60px;
  background: #27282c;
  box-shadow: -3px -5px 8px 0px #313439, 3px 5px 8px 0px #1d1e21, 0px 1px 8px 0px rgba(29, 30, 33, 0.2) inset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
  position: relative;
}
.header-logo .sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header-logo .sidebar-toggle .icon {
  width: 30px;
  height: 31.9px;
  margin-right: 24px;
  margin-left: 15px;
}
.header-logo .sidebar-line {
  width: 1px;
  height: 60px;
  background-color: #8f8f8f;
  border: none;
  margin-right: 37px;
}
.header-logo .logo {
  width: 93px;
  height: 40px;
}

.user-info {
  display: flex;
  align-items: center;
}
.user-info .date-time {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #8f8f8f;
  margin-right: 82.14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 144px;
}
.user-info .username {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #8f8f8f;
  margin-right: 10px;
}
.user-info .icon {
  width: 30px;
  height: 30px;
  margin-right: 25px;
}

.icon {
  fill: none;
  color: #8f8f8f;
}

body {
  background-image: url("../images/bg-desktop.jpg");
  background-color: #00008b;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 1024px) {
  body {
    background-image: url("../images/bg-tablet.jpg");
  }
}
@media (max-width: 768px) {
  body {
    background-image: url("../images/bg-mobile.jpg");
    background-attachment: scroll;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Чим більше значення, тим темніше */
  z-index: -1; /* Щоб шар був під контентом */
}

.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 390px;
  height: calc(100vh - 60px);
  background-color: rgba(39, 40, 44, 0.8);
  color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.sidebar__decorative {
  width: 100%;
  height: 60px;
  background-color: #2b98cc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24.55px;
  padding: 15px 180px;
}
.sidebar__icon-map {
  overflow: visible;
  max-width: 30px;
  max-height: 30px;
  fill: none;
}
.sidebar__icon-loop {
  width: 22.75px;
  height: 22.92px;
  fill: none;
}
.sidebar__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sidebar__search {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}
.sidebar__input {
  flex-grow: 1;
  height: 100%;
  background-color: rgba(39, 40, 44, 0.5019607843);
  border: none;
  color: white;
  padding: 10px 0 10px 42px;
  font-size: 16px;
  border-radius: 5px;
}
.sidebar__icon-search {
  background: none;
  border: none;
  cursor: pointer;
  background-color: #27282c;
  border: none;
  color: white;
  width: 110px;
  height: 50px;
}
.sidebar__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  box-sizing: border-box;
}
.sidebar__filters-title {
  display: flex;
  align-items: center; /* Вирівнює по вертикалі */
  width: 260px;
  height: 100%;
  padding: 15px 0 17px 93px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #27282c;
}
.sidebar__filters-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #27282c;
}
.sidebar__list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}
.sidebar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__content {
  background-color: #2b98cc;
  width: 260px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
}
.sidebar__button-checkpoint {
  width: 57px;
  height: 50px;
  background-color: #27282c;
  border-radius: 15px;
  border: 0px;
  margin-right: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  cursor: pointer;
}
.sidebar__button-checkpoint:hover {
  border: 2px solid #2b98cc;
}
.sidebar__button-checkpoint:active, .sidebar__button-checkpoint--active {
  background: #2b98cc;
}
.sidebar__button-checkpoint:focus {
  border: 2px solid #2b98cc;
}
.sidebar__icon-checkpoint {
  width: 23px;
  height: 31px;
}
.sidebar__submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s;
}
.sidebar__item--open .sidebar__submenu {
  max-height: 200px;
}
.sidebar__submenu-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar__submenu-content {
  width: 317px;
  height: 30px;
  background-color: rgba(39, 40, 44, 0.5019607843);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  text-decoration: none;
  color: white;
}
.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27282c;
  color: #8f8f8f;
  margin-top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box; /* Для правильного обчислення ширини */
  z-index: 1; /* Забезпечує, щоб футер був поверх іншого вмісту */
}
.sidebar__footer-content {
  width: 239.015625px;
  height: 32px;
  border-radius: 10px;
  background-color: #27282c;
  box-shadow: 0px 5px 6px 0px #1e1f22 inset, 0px -2px 4px 0px #2f3338 inset;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}
.sidebar__footer-count {
  width: 57px;
  height: 32px;
  border-radius: 10px;
  margin: 11px 53px 42px 20px;
  background-color: #27282c;
  box-shadow: 0px 5px 6px 0px #1e1f22 inset, 0px -2px 4px 0px #2f3338 inset;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
}

.scrollable-container {
  flex-grow: 1;
  overflow-y: scroll; /* Дозволяє вертикальний скролінг */
  margin-top: 20px;
}

.sidebar__content-wrapper {
  display: flex;
  overflow: hidden;
}

/* Стилізація полоси прокручування */
.scrollable-container::-webkit-scrollbar {
  width: 30px;
  background-color: #27282c;
  border-radius: 20px;
}

/* Стилізація самого "повзунка" полоски прокручування */
.scrollable-container::-webkit-scrollbar-thumb {
  background: #2b98cc;
  border-radius: 3px;
  border-left: 11px solid #27282c;
  border-right: 11px solid #27282c;
  border-top: 7px solid #27282c;
  border-bottom: 7px solid #27282c;
  border-radius: 15px;
}

/*# sourceMappingURL=styles.css.map */
