@charset "UTF-8";
.sidebar {
  width: 390px;
  height: 100vh;
  background-color: rgba(39, 40, 44, 0.8);
  color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  padding-top: 60px;
  z-index: 100;
}
.sidebar__decorative {
  width: 100%;
  height: 60px;
  background-color: #2b98cc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24.55px;
  padding: 15px 180px;
}
.sidebar__icon-map {
  overflow: visible;
  max-width: 30px;
  max-height: 30px;
  fill: none;
}
.sidebar__icon-loop {
  width: 22.75px;
  height: 22.92px;
  fill: none;
}
.sidebar__search {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}
.sidebar__input {
  flex-grow: 1;
  height: 100%;
  background-color: rgba(39, 40, 44, 0.5019607843);
  border: none;
  color: white;
  padding: 10px 0 10px 42px;
  font-size: 16px;
  border-radius: 5px;
}
.sidebar__icon-search {
  background: none;
  border: none;
  cursor: pointer;
  background-color: #27282c;
  border: none;
  color: white;
  width: 110px;
  height: 50px;
}
.sidebar__filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 20px;
  box-sizing: border-box;
}
.sidebar__filters-title {
  display: flex;
  align-items: center; /* Вирівнює по вертикалі */
  width: 260px;
  height: 100%;
  padding: 15px 0 17px 93px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #27282c;
  font-weight: 700;
  font-size: 14px;
}
.sidebar__filters-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #27282c;
  font-weight: 500;
  font-size: 24px;
}
.sidebar__list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}
.sidebar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar__content {
  background-color: #2b98cc;
  width: 260px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 41px;
  font-weight: 700;
  font-size: 16px;
}
.sidebar__button-checkpoint {
  width: 57px;
  height: 50px;
  background-color: #27282c;
  border-radius: 15px;
  border: 0px;
  margin-right: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
  cursor: pointer;
}
.sidebar__button-checkpoint:hover {
  border: 2px solid #2b98cc;
}
.sidebar__button-checkpoint:active, .sidebar__button-checkpoint--active {
  background: #2b98cc;
}
.sidebar__button-checkpoint:focus {
  border: 2px solid #2b98cc;
}
.sidebar__icon-checkpoint {
  width: 23px;
  height: 31px;
}
.sidebar__submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s;
}
.sidebar__item--open .sidebar__submenu {
  max-height: 200px;
}
.sidebar__submenu-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.sidebar__submenu-content {
  width: 317px;
  height: 30px;
  background-color: rgba(39, 40, 44, 0.5019607843);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  padding-left: 41px;
  text-decoration: none;
  color: white;
}
.sidebar__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27282c;
  color: #8f8f8f;
  margin-top: auto;
  padding: 11px 0 42px;
}
.sidebar__footer-content {
  width: 239.015625px;
  height: 32px;
  border-radius: 10px;
  background-color: #27282c;
  box-shadow: 0px 5px 6px 0px #1e1f22 inset, 0px -2px 4px 0px #2f3338 inset;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding: 6px 20px;
  margin-left: 20px;
}
.sidebar__footer-count {
  width: 57px;
  height: 32px;
  border-radius: 10px;
  margin-right: 53px;
  background-color: #27282c;
  box-shadow: 0px 5px 6px 0px #1e1f22 inset, 0px -2px 4px 0px #2f3338 inset;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  padding: 6px 26px;
}

.sidebar.open {
  transform: translateX(0);
}

.scrollable-container {
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 20px;
}

.sidebar__content-wrapper {
  display: flex;
  overflow: hidden;
}

.scrollable-container::-webkit-scrollbar {
  width: 30px;
  background-color: #27282c;
  border-radius: 20px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #2b98cc;
  border-radius: 3px;
  border-left: 11px solid #27282c;
  border-right: 11px solid #27282c;
  border-top: 7px solid #27282c;
  border-bottom: 7px solid #27282c;
  border-radius: 15px;
}/*# sourceMappingURL=sidebar.css.map */